.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h3 {
    font-size: calc(1.1rem + 1vw);
    font-weight: 100;
  }

  .media-wrapper {
    display: flex;
    font-size: calc(2rem + 2vw);

    .icon {
      color: #eeeeee;
      margin: calc(1rem + 1vw);
    }
  }
}